<a href="https://colab.research.google.com/github/JasmineJames25/python-Tutorials-/blob/main/python_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#find the max number from given set of numbers using function
def find_max(number):
  return max(number)
number=[2,3,4,510,1]
result=find_max(number)
print(result)

510

In [ ]:
#case conversion (converting the uppercase words to lower case)
def case_con(in_str):
  return in_str.lower()
in_str='Hello World!'
result=case_con(in_str)
print(result)

hello world!

In [ ]:
#find the count of words
str='i am jasmine'
result=len(str.split())
print(result)

3

In [ ]:
#to count the number of vowels ( if input the code is given)
def vowel_cont(input):
  count=0
  vowels='aeiouAEIOU'
  for i in input:
    if i in vowels:
      count+=1
  return count

In [ ]:
#python prgrm to count the vowels
def count_v(input_str):
  vowel='aeiouAEIOU'
  return len([char for char in input_str if char in vowel])
input_str='countvowel'
result=count_v(input_str)
print(result)

4

In [ ]:
#to remove duplicates
s='jasmines'
newlr=''
for letter in s:
  if letter not in newlr:
    newlr+=letter
print(newlr)

jasmine

In [ ]:
#duplicate removing using set function since set does not support the duplicate values
s='samusa'
newletter=''.join(set(s))
print(newletter)

smua

In [ ]:
#reverse functions
def reverse(word):
  return word[::-1]
word='jasmine'
result=reverse(word)
print(result)

enimsaj

In [ ]:
#checking the factorial of number
num=3
fact=1
for i in range(1,num+1):
  fact*=i
print(fact)

6

In [ ]:
#checking the factorial of number using function
def factorial(n):
  facto=1
  for i in range(1,n+1):
    facto*=i
  return facto
n=5
print(factorial(n))

120

In [ ]:
#word count problem
f='there is always a a a a postive strength in everything that we see see see'
lst=f.split()
dic={}
for i in lst:
  if i not in dic:
    dic[i]=1
  else:
    dic[i]=dic[i]+1
print(dic)

{'there': 1, 'is': 1, 'always': 1, 'a': 4, 'postive': 1, 'strength': 1, 'in': 1, 'everything': 1, 'that': 1, 'we': 1, 'see': 3}

# **PATTERN PROBLEMS**

In [ ]:
n = 5  # Number of rows

for i in range(1, n + 1):
    for j in range(1, n + 1):
        if i == 1 or i == n or j == 1 or j == n:
            print("5", end=" ")
        else:
            print(" ", end=" ")
    print()

5 5 5 5 5
5       5
5       5
5       5
5 5 5 5 5

In [ ]:
n=3
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i,end=" ")
  print()

1 1 1
2 2 2
3 3 3

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(j,end="")
  print()

123
123
123

In [ ]:
for i in range(5,0,-1):
  print(i,end="")

54321

In [ ]:
for i in range(5,0,-1):  #5,4,3,2,1
  for j in range(1,i+1):   #i=5 ==> (1,6)=1,2,3,4,5
    print(j,end='')
  print()

12345
1234
123
12
1

In [ ]:
for i in range(5,0,-1):  #5,4,3,2,1
  for j in range(1,i+1):   #i=5 ==> (1,6)=1,2,3,4,5
    print(i,end='')
  print()

55555
4444
333
22
1

In [ ]:
for i in range(1,6):
  for j in range(i-1,6):
    print(i,end='')
  print()

111111
22222
3333
444
55

In [ ]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123